* {
    margin: 0;
    padding: 0;
    font-family: Tahoma, Geneva, Verdana, fantasy;
    /* color: black; */
}

body {
    background-color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: rgba(233, 236, 239, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
}

header {
    background-color: lightgray;
    background-image: url('img/luxa.org-opacity-changed-ImgFundo (1).jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.imgLogo {
    width: 250px;
    height: 100px;
    border-radius: 15px;
}

.links {
    display: flex;
    gap: 30%;
    padding-right: 280px;

}

.container {
    position: relative;
    height: 100vh;
    color: white;
    /* Para ocupar toda a altura da viewport */
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Centraliza horizontal e verticalmente */
    /* Estilos do conteúdo */
    width: 69%;
}

.NomeEmpresa {
    color: white;
    font-size: 100px;
    width: 100%;
}

h1 {
    font-size: 60px;
    text-align: center;
}

h3 {
    text-align: center;
}

.barrabutton {
    text-align: center;
    margin-top: 20px;
    display: flex;
    gap: 5px;

}

.inputpesquisa {
    padding: 15px;
    width: 84%;
    font-size: larger;
    border: 1px solid black;
    height: 15px;
}

.botaopesquisar {
    padding: 15px;
    background-color: #1C085D;
    color: white;
    border-color: transparent;
    cursor: pointer;
    height: 50px;
}

.alinks {
    text-decoration: none;
    font-size: 35px;
    color: #1C085D;
    font-weight: bold;
    transition: transform 0.3s ease;
    white-space: nowrap;
}

.alinks:hover {
    transform: scale(1.3);
    color: #1C085D;
    cursor: pointer;
}

.alinks:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #1C085D;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.alinks:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.sobre {
    text-decoration: none;
    font-size: 35px;
    color: #1C085D;
    font-weight: bold;
    transition: transform 0.3s ease;
    white-space: nowrap;
}

.divcard {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.divcard2 {
    display: flex;
    gap: 15px;
    justify-content: center
}

.cardGis {
    border: 1px solid black;
    width: 350px;
    height: 200px;
    padding: 20px;
    margin-top: 30px;
    transition: transform 0.3s ease;
    background-image: url('img/logogis.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cardPotal {
    border: 1px solid black;
    width: 350px;
    height: 200px;
    padding: 20px;
    margin-top: 30px;
    transition: transform 0.3s ease;
    background-image: url('img/logoportal.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 80% 60%;
}

.cardSales {
    border: 1px solid black;
    width: 350px;
    height: 200px;
    padding: 20px;
    margin-top: 30px;
    transition: transform 0.3s ease;
    background-image: url('img/logojs.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 80% 60%;
}

.cardLiam {
    border: 1px solid black;
    width: 350px;
    height: 200px;
    padding: 20px;
    margin-top: 30px;
    transition: transform 0.3s ease;
    background-image: url('img/logoliam.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 80% 60%;
}


.card {
    border: 1px solid black;
    width: 350px;
    height: 200px;
    padding: 20px;
    margin-top: 30px;
    transition: transform 0.3s ease;
    background-image: url('img/logogis.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.imgBairros {
    color: black;
    font-size: 40px;
    margin-top: 225px;
    text-align: center;

}

.card:hover {
    transform: scale(1.1);
}

.cardGis:hover {
    transform: scale(1.1);
}

.cardPotal:hover {
    transform: scale(1.1);
}

.cardSales:hover {
    transform: scale(1.1);
}

.cardLiam:hover {
    transform: scale(1.1);
}



.container2 {
    position: relative;
    height: 60vh;


    /* Para ocupar toda a altura da viewport */
}

.content2 {
    position: absolute;
    top: 10%;
    left: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    background-color: #5353ec;
    /* Centraliza horizontal e verticalmente */
    /* Estilos do conteúdo */
}

.bairrosmaispesquisados {
    text-align: center;
    font-size: 50px;
    margin-top: 60px;

}

.h1Footer {
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #0D6EFD;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    /* background-color: #E9ECEF; */
    padding: 30px;
    color: black;
}

.campo {
    text-align: end !important;
    font-size: 20px;
    font-weight: bold;
}

#nome,
#email,
#telefone {
    padding: 15px;
    font-size: 18px;
}

#mensagem {
    padding: 20px;
    font-size: 18px;
}

.copy {
    background-color: black;
    color: white;
    font-style: italic;
}

.divMobile {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 56px;
    background-color: #cacbcd;
}

.divDownload {
    display: flex;
    gap: 72px;
}

.imgGooglePlay,
.imgAppleStore {
    width: 50px;
    height: 50px;
}

.btnDownload {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 65px;
    padding: 10px;
    width: 200px;
    border-radius: 15px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
}

.modal2 {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
    /* overflow-y: hidden; */
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 5px;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

button {
    padding: 10px 20px;
    background-color: #1C085D;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

@keyframes slidein {
    from {
        background-color: transparent;
        margin-left: 150%;
        /* Começa fora da tela */
    }

    to {
        margin-left: 0;
        /* Termina na posição inicial */
    }

    /* Função de temporização de animação personalizada */

}

.animate {
    animation-duration: 1s;
    animation-name: slidein;
}

.info{
    display: flex;
    /* gap: 15px; */
}


.foto1{
    width: 200px;
    height: 200px;
}
.foto1Con{
    width: 200px;
    height: 200px;
}

.fotoborder{
    border: 1px solid;
}

.fotosG{
    display: flex;
}

.fotoPrincipal{
    position: relative;
    width: 100%;
    height: 100%;
}

.contato{
    padding: 20px;
}

/* CSS página SOBRE */
/* ========================================================================== */

.navbarSobre {
    background-color: rgb(235, 230, 230);
}

.sobreEmpresa {
    display: flex;
    justify-content: space-evenly;
    background-color: #cacbcd;
    padding-top: 170px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.nossaVisao{
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    margin-top: 50px;
    padding: 8px;  
}

.sobreDevs {
    display: flex;
    justify-content: space-evenly;
    background-color:  #cacbcd;
    margin-top: 50px;
    padding: 60px;
}

.imagemEmpresa {
    width: 900px;
    height: 600px;
}

/* Estilo geral */

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Nova div principal */

.container-principal {
    display: flex;
    flex-direction: row;
}

/* Conteúdo (texto) */

.container-principal .container {
    flex: 1;
    padding: 20px;
}

/* Imagem */

.imagem {
    width: 300px;
    height: auto;
    margin-left: 20px;
}

.tituloSobre {
    text-align: center;
}

.descricaoSobre {
    text-align: center;
}


.classeLi {
    font-size: 17px;
}

.descricaoEmpresa {
    display: flex;
    flex-direction: column;
}